<% provide(:title, "About") %>
<h1>About</h1>
  <p>The <em>Glazier App</em> is an application to help glaziers around the world
      to register their customers and making their quotes easily and quickly. Also it's a good and clever price table manager
      where is possible check out the price to each sort of glass by square meter.
  </p>